<h2 mat-dialog-title class="!text-mystic-dark">
  Programare la Dr. {{ data.doctor.lastName }} {{ data.doctor.firstName }}
</h2>

<mat-dialog-content class="flex flex-col gap-4 min-w-[350px]">

  <p class="text-gray-600 text-sm">
    Selectează data și ora dorită pentru consultație.
  </p>

  <!-- DATEPICKER -->
  <mat-form-field appearance="outline" class="w-full mt-2">
    <mat-label>Data Programării</mat-label>

    <!-- Am adaugat (dateChange) pentru a declansa verificarea -->
    <input matInput [matDatepicker]="picker"
           [matDatepickerFilter]="weekendFilter"
           [min]="minDate"
           [(ngModel)]="selectedDate"
           (dateChange)="onDateChange($event)"
           readonly (click)="picker.open()" class="cursor-pointer">

    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- SELECT ORĂ -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>
      <span *ngIf="!checkingAvailability">Ora</span>
      <span *ngIf="checkingAvailability">Verific disponibilitatea...</span>
    </mat-label>

    <mat-select [(ngModel)]="selectedTime" [disabled]="!selectedDate || checkingAvailability">
      <mat-option *ngFor="let hour of availableHours"
                  [value]="hour"
                  [disabled]="isBusy(hour)"
                  class="flex justify-between">

        <span>{{ hour }}</span>

        <!-- Text mic 'Ocupat' daca e cazul -->
        <span *ngIf="isBusy(hour)" class="text-xs text-red-500 font-bold ml-2">
          (OCUPAT)
        </span>

      </mat-option>
    </mat-select>

    <!-- Spinner mic in dreapta daca incarca -->
    <mat-icon matSuffix *ngIf="checkingAvailability" class="animate-spin text-mystic-accent">sync</mat-icon>

  </mat-form-field>

  <!-- NOTIȚE -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Simptome / Notițe (Opțional)</mat-label>
    <textarea matInput [(ngModel)]="notes" rows="3"></textarea>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end" class="pb-4 pr-4">
  <button mat-button (click)="onCancel()" [disabled]="isLoading">Anulează</button>

  <button mat-raised-button
          class="!bg-mystic-accent !text-white"
          (click)="onSubmit()"
          [disabled]="isLoading">
    <span *ngIf="!isLoading">Confirmă</span>
    <span *ngIf="isLoading">Se trimite...</span>
  </button>
</mat-dialog-actions>
